{% block form_row %}
    <marquee>It looks like it's working</marquee>
    <div>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}