{% extends '::base.html.twig' %}

{% block body %}
<section class="main-block">
    <article>
        <section>
            <h1>Register</h1>

            {# render the form in a moment ... #}
        </section>
    </article>
</section>
{% endblock %}
